torch==2.2.0
torchvision==0.17.0
torchmetrics
numpy==1.26.4
tqdm
matplotlib
pandas
wandb
comet_ml
hydra-core

black
isort
pre-commit

opencv-python
torchaudio==2.2.0
soundfile
sounddevice
pystoi
pesq==0.0.4